body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", Helvetica, sans-serif;
  font-weight: 500;
}

a {
  &:hover {
    text-decoration: none;
  }
  &[href^="tel:"] {
    @include media-breakpoint-up(md) {
      pointer-events: none;
    }
  }
}

p {
  font-size: $font-size-sm;
  line-height: 1.8;
  color: #000000;
}

mark {
  background: linear-gradient(transparent 65%, #ffd269 65%);
}

.btn {
  &-primary {
    border-radius: 5rem;
    background-color: #6eacdc;
    border: 0;
    border-bottom: solid 2px #0f5587;
    font-size: 18px;
    line-height: 1;
    padding: 1em 2em;
    text-align: center;

    &--point {
      display: block;
      font-size: 12px;
      margin-bottom: 0.5em;
    }

    &--txt {
      font-weight: bold;
    }
  }
  &-success {
    border-radius: 5rem;
    background-color: $success;
    border: 0;
    border-bottom: solid 2px #05a05f;
    font-size: 1rem;
    line-height: 1;
    padding: 1em 2em;
    text-align: center;
    &--point {
      display: block;
      font-size: 12px;
      margin-bottom: 0.5em;
    }
    &--txt {
      font-weight: bold;
    }
  }

  &-outline-primary {
    position: relative;
    border-radius: 5rem;
    font-size: $font-size-sm;
    line-height: 1;
    padding: 0.875em 1em;
    font-weight: bold;
    border: solid 2px $primary;
    border-bottom: solid 3px $primary;

    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f0da";
      font-size: 1em;
      margin-left: 2em;
      line-height: 1.3;
    }
  }

  &-light {
    border-radius: 5rem;
    background-color: $white;
    border: 0;
    border-bottom: solid 2px $primary;
    font-size: 18px;
    color: $primary;
    font-weight: bold;
    line-height: 1;
    padding: 1em 4em;
    text-align: center;
  }
}

.bg-square {
  background-image: url("../images/bg_reason.png");
}

.bg-square-blue {
  background-image: url("../images/bg_faq.png");
}

.bg-cream {
  background-color: #fff9ea;
}

.sec {
  padding: 60px 0;
  @include media-breakpoint-down(md) {
    padding: 2.5rem 0;
  }
}

.ttl__h2 {
  overflow: hidden;
  margin-bottom: 2rem;
  @include media-breakpoint-down(md) {
    margin-bottom: 1.5rem;
  }

  &--link {
    float: right;
  }
}

.ttl__h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1em;
  color: $primary;
  letter-spacing: 0.1rem;
  line-height: 1.3em;
  &::before {
    content: "";
    display: inline-block;
    vertical-align: text-bottom;
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    background-color: $info;
    border: solid 3px $primary;
    border-radius: 50%;
    margin-right: 0.5em;
  }
}

.table {
  th {
    white-space: nowrap;
    font-weight: bold;
    color: $primary;
    background-color: $info;
    font-size: 1rem;
    padding: 1.8rem;
    vertical-align: middle;
    border-top: solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
  td {
    font-size: $font-size-sm;
    padding: 1.8rem;
    vertical-align: middle;
    border-top: solid 1px #c8c8c8;
    border-bottom: solid 1px #c8c8c8;
    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }
}

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  a,
  span {
    display: block;
    box-sizing: border-box;
    background-color: $primary;
    border: solid 2px $primary;
    border-bottom: solid 3px #19559b;
    color: $white;
    width: 60px;
    height: 60px;
    line-height: 57px;
    text-align: center;
    font-weight: bold;
    border-radius: 0.5rem;
    margin: 0 0.3rem;
    @include media-breakpoint-down(md) {
      width: 40px;
      height: 40px;
      line-height: 37px;
    }
  }
  .current {
    background-color: $info;
    border-bottom: solid 3px $primary;
    color: $primary;
  }
}
