.bloglist {
  margin-bottom: 3rem;
  &__inner {
    border-bottom: solid 1px #c8c8c8;
    &:first-child {
      border-top: solid 1px #c8c8c8;
    }
    &__link {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap;
      color: $black;
      box-sizing: border-box;
      padding: 1rem 0;
      &__img {
        width: 30%;
      }
      &__txt {
        width: 67%;
        &--h2 {
          font-size: 1.4rem;
          color: $primary;
          font-weight: bold;
          margin: 1rem 0 0;
          @include media-breakpoint-down(md) {
            font-size: 1rem;
            margin: 0.5rem 0 0;
          }
        }
      }
    }
  }
}
