.support {
  text-align: center;
  box-sizing: border-box;
  padding: 2.5rem 0;
  background-image: url("../images/bg_support.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  overflow: hidden;
  text-align: center;
  background-image: url("../images/bg_contact_pc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-down(md) {
    background-image: url("../images/bg_contact_sp.png");
  }

  .container {
    z-index: 1;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 3.8rem;
    @include media-breakpoint-down(md) {
      padding-top: 1rem;
    }
  }

  &__h {
    margin-bottom: 2rem;
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }

  &__link {
    display: flex;
    justify-content: start;
    align-items: center;
    @include media-breakpoint-down(md) {
      position: relative;
      flex-wrap: wrap;
      top: 1.5rem;
    }

    a,span {
      display: block;
      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        width: 28%;
        margin-right: 2%;
      }
      &:last-child {
        @include media-breakpoint-down(md) {
          width: 60%;
          margin-top: 2%;
        }
      }
    }
  }

  &--bg {
    z-index: -1;
    position: absolute;
    left: -1.5rem;
    bottom: 0;
    width: 105%;
    max-width: 105%;
    @include media-breakpoint-down(md) {
      width: 100%;
      left: auto;
      right: 0;
    }
  }
}

.home-blog {
  padding: 0;
  margin: 0;
  &__li {
    list-style: none;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #eeeeee;
    &__meta {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 0.5em;
    }
    &--h3 {
      font-size: 1rem;
      margin: 0;
    }
  }
}

.target {
  &__list {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    &__inner {
      position: relative;
      width: 24%;
      background-color: $white;
      box-sizing: border-box;
      border-radius: 0.5rem;
      padding: 1.5rem 1rem;
      @include media-breakpoint-down(md) {
        padding: 1rem 0.875rem;
        width: 49%;
        margin-bottom: 4%;
      }

      &--pin {
        position: absolute;
        top: -10px;
        right: 50%;
      }

      &--img {
        margin-bottom: 1rem;
      }

      &--h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary;
        margin-bottom: 1rem;
        @include media-breakpoint-down(md) {
          font-size: $font-size-sm;
        }
        mark {
          color: $primary;
        }
      }

      &--p {
        @include media-breakpoint-down(md) {
          font-size: 0.7rem;
        }
      }
    }
  }
}

.reason {
  &__list {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 3rem;
    @include media-breakpoint-down(md) {
      box-sizing: border-box;
      padding: 0 2rem;
      margin: 2rem 0 0 !important;
    }

    .slick-prev-img,
    .slick-next-img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5rem;
      height: auto;
    }

    .slick-prev-img {
      left: 0;
    }

    .slick-next-img {
      right: 0;
    }

    .slick-prev::before,
    .slick-next::before {
      color: $primary;
    }

    .slick-dots {
      position: static;

      li {
        width: auto;
        height: auto;
        button {
          width: auto;
          height: auto;
          &::before {
            color: $primary;
          }
        }
      }
    }

    &__inner {
      position: relative;
      width: 32%;
      background-color: $white;
      box-sizing: border-box;
      border: solid 1px #c8c8c8;
      margin: 0 0 2%;
      padding-bottom: 1.5rem;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin: 0 0 2px;
      }

      &--h3 {
        font-size: 1.1rem;
        font-weight: bold;
        color: $primary;
        box-sizing: border-box;
        margin: 1.5em 0;
        padding: 0 1.5rem;
      }

      &--p {
        font-size: $font-size-sm;
        box-sizing: border-box;
        margin: 0;
        padding: 0 1.5rem;
      }
    }
  }
}

.works {
  background-image: url("../images/bg_works.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__list {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 3rem 0;
    @include media-breakpoint-down(md) {
      margin: 1.5rem 0;
    }

    &__inner {
      width: 23%;
      border-radius: 0.5rem;
      border-bottom: solid 5px #fae6c3;
      background-color: $white;
      box-sizing: border-box;
      padding: 1rem;
      @include media-breakpoint-down(md) {
        width: 49%;
        margin-bottom: 2%;
      }

      &__txt {
        margin-top: 1.5rem;
        @include media-breakpoint-down(md) {
          margin-top: 1rem;
        }

        &--h3 {
          color: $primary;
          font-size: 1.1rem;
          font-weight: bold;
          margin-bottom: 1.5rem;
          @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
            margin-bottom: 1rem;
          }
        }

        &__table {
          width: 100%;
          border-collapse: collapse;

          th,
          td {
            font-size: $font-size-sm;
            font-weight: normal;
            color: $black;
            box-sizing: border-box;
            word-break: break-all;
            @include media-breakpoint-down(md) {
              font-size: 0.7rem;
            }
          }

          th {
            border-right: dashed 1px #c8c8c8;
            padding-right: 1rem;
            @include media-breakpoint-down(md) {
              padding-right: 0.5rem;
            }
          }

          td {
            padding-left: 1rem;
            @include media-breakpoint-down(md) {
              padding-left: 0.5rem;
            }
          }

          &--price {
            font-weight: bold;
            font-size: 1.2rem;
            @include media-breakpoint-down(md) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

.flow {
  &__list {
    z-index: 1;
    position: relative;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      margin-top: 1.5rem;
    }
    &--border {
      z-index: 1;
      position: absolute;
      top: 22%;
      left: 50%;
      transform: translateX(-50%);
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    &__inner {
      width: 23%;
      border-radius: 0.5rem;
      border-bottom: solid 5px $blue;
      background-color: $white;
      box-sizing: border-box;
      padding: 1rem;
      margin-bottom: 4%;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 2%;
      }
      img {
        @include media-breakpoint-down(md) {
          display: inline-block;
          vertical-align: top;
          width: 35% !important;
        }
      }
      &__txt {
        margin-top: 1.5rem;
        @include media-breakpoint-down(md) {
          display: inline-block;
          vertical-align: top;
          width: 59%;
          margin-left: 4%;
          margin-top: 0;
        }
        &--ribbon {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          background-color: $primary;
          color: $white;
          padding: 0 1.3rem 0 0.5rem;
          font-size: 12px;
          &::after {
            position: absolute;
            content: "";
            width: 0px;
            height: 0px;
            z-index: 1;
          }
          &::after {
            top: 0;
            right: 0;
            border-width: 14px 12px 14px 0px;
            border-color: transparent #fff transparent transparent;
            border-style: solid;
          }
          span {
            font-size: 1.2rem;
          }
        }
        &--h3 {
          color: $primary;
          font-size: 1.1rem;
          font-weight: bold;
          margin: 1rem 0;
          @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
            margin: 0.5rem 0;
          }
        }
        p {
          font-size: 0.7rem;
        }
      }
    }
  }
}

.faq {
  overflow: hidden;
  .container {
    z-index: 1;
    position: relative;
    &::before {
      z-index: -1;
      content: "？";
      font-weight: bold;
      display: inline-block;
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      font-size: 30rem;
      line-height: 1;
      color: rgba($white, 0.5);
      @include media-breakpoint-down(md) {
        font-size: 15rem;
      }
    }
  }
  .ttl__h2 {
    img {
      @include media-breakpoint-down(md) {
        width: 150px;
      }
    }
  }
  &__list {
    margin-top: 3rem;
    background-color: $white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2rem;
    overflow-y: scroll;
    max-height: 630px;
    @include media-breakpoint-down(md) {
      margin-top: 1.5rem;
      max-height: 400px;
      padding: 1rem;
    }
    &__inner {
      display: block;
      margin: 0;
      padding: 2rem;
      border-bottom: solid 1px #c8c8c8;
      @include media-breakpoint-down(md) {
        padding: 1rem;
      }
      &:first-child {
        padding-top: 0;
      }
      &:nth-child(2n) {
        background-color: $info;
      }
      &--dt {
        color: $primary;
        font-size: 1.1rem;
        box-sizing: border-box;
        margin: 0 0 1em;
        text-indent: -2em;
        padding-left: 2em;
        @include media-breakpoint-down(md) {
          font-size: $font-size-sm;
          margin: 0 0 0.8em;
        }
        &::before {
          content: "Q.";
          font-size: 1.2rem;
          margin-right: 0.5em;
          font-weight: bold;
          @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
          }
        }
      }
      &--dd {
        color: $black;
        font-size: $font-size-sm;
        box-sizing: border-box;
        margin: 0;
        text-indent: -2em;
        padding-left: 2em;
        @include media-breakpoint-down(md) {
          font-size: 0.7rem;
        }
        &::before {
          content: "A.";
          font-size: 1.2rem;
          margin-right: 0.5em;
          font-weight: bold;
          color: #eb2827;
          @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
          }
        }
      }
    }
  }
}

.area {
  background-color: #fff9ea;
  .container {
    @include media-breakpoint-down(md) {
      width: 85%;
    }
  }
  &__inner {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    &__txt {
      width: 65%;
      margin-left: 5%;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-left: 0;
        margin-top: 1.5rem;
      }
      &__list {
        border: solid 5px #ffd269;
        box-sizing: border-box;
        padding: 1.5rem;
        border-radius: 0.5rem;
        background-color: $white;
      }
    }
  }
}

.message {
  background-image: url("../images/bg_message_pc.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-down(md) {
    background-image: url("../images/bg_message_sp.png");
  }
}
